<a href="https://colab.research.google.com/github/jvataidee/PesquisaOperacional/blob/master/MaximizarInvestimento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maximizar Investimentos**
---
$$ maximize \sum\limits_{i=1}^m l_i.x_i$$ 


$$s.\ a.\; \sum\limits_{i=1}^m p_i.x_i\leq C $$

$$ x_j \in \{0, 1\},\; j = 1, ... m $$

$ Onde:\\
c - Custo\ de\ cada\ item;\\
C - Custo\ máxima\ do\ investidor\\
l - Retorno\ de\ cada\ item;\\
x - Variácel\ binária ;\\
i - itens.\\
m - total\ de\ itens\\
$

In [ ]:
pip install pyomo -q

In [ ]:
!apt-get install -y -qq glpk-utils -q
!apt-get install -y -qq coinor-cbc -q

In [3]:
#Instalar bibliotes necessárias
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import pyomo.environ as pyo

In [22]:
#Ler dados~
link = '/content/dados.xlsx'
df = pd.read_excel(link)
print("Número de colunas", df.shape[1])
print("Dimensão do problema", df.shape[0])
df

Número de colunas 3
Dimensão do problema 25

   Variável  Investimento      Retorno
0        P1   2583.177243   287.089823
1        P2   9625.520779  3110.447724
2        P3   1917.758549   206.947104
3        P4   5610.365463  2426.473442
4        P5   2132.106199  2078.517159
5        P6   9348.902294  5645.969243
6        P7   5761.805555  2865.621342
7        P8    740.482288   152.000865
8        P9   3328.875892  2284.589824
9       P10    103.955427    33.050690
10      P11   1832.845820   714.608805
11      P12   3495.908593   161.239872
12      P13   3109.145469  2810.991420
13      P14   8373.209993  7882.748627
14      P15   1344.300804   717.132627
15      P16    977.347606    55.823100
16      P17   2937.043002  2911.525888
17      P18   5260.537226  2854.716015
18      P19   6683.871588  4071.323515
19      P20   8319.534870  3937.805897
20      P21   5170.345490  2300.074043
21      P22   6315.193176  3786.560771
22      P23   7992.898812  7597.635694
23      P24   5989.866530  3198.078147
24      P25   4609.794472  1018.380792

In [25]:
print("Preço total: R$", np.round(df.Investimento.sum(),2))

Preço total: R$ 113564.79

In [26]:
#Informação sobre os dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Variável      25 non-null     object
 1   Investimento  25 non-null     float64
 2   Retorno       25 non-null     float64
dtypes: float64(2), object(1)
memory usage: 728.0+ bytes

In [27]:
#Sumarização estatistica dos dados
df.describe()

       Investimento      Retorno
count     25.000000    25.000000
mean    4542.591726  2524.374097
std     2823.441949  2183.726902
min      103.955427    33.050690
25%     2132.106199   714.608805
50%     4609.794472  2426.473442
75%     6315.193176  3198.078147
max     9625.520779  7882.748627

In [60]:
#Variáveis de Decisão
C = 2000
m = df.shape[0]  #Dimensão do Problema
custo = list(df.Investimento) #Transformar valores em lista
lucro = list(df.Retorno)   #Transformar pesos em lista
variaveis = list(df.Variável)

In [61]:
# 1 Declaração do modelo
model = pyo.ConcreteModel()

# 2 Declarar as variáveis de decisão e parâmetros
model.I = pyo.RangeSet(m)
model.x = pyo.Var(model.I, within = pyo.Binary)
model.c = pyo.Param(model.I, initialize = lambda model, i: custo[i -1])
model.l = pyo.Param(model.I, initialize = lambda model, i: lucro[i -1])

# 3 Declarar a função objetivo
model.obj = pyo.Objective(expr = sum(model.l[i]*model.x[i] for i in model.I), sense = pyo.maximize)

# 4 Declarar as restrições
model.c1 = pyo.Constraint(expr = sum(model.c[i]*model.x[i] for i in model.I) <= C)

In [62]:
print(model.pprint())

1 RangeSet Declarations
    I : Dimen=1, Size=25, Bounds=(1, 25)
        Key  : Finite : Members
        None :   True :  [1:25]

2 Param Declarations
    c : Size=25, Index=I, Domain=Any, Default=None, Mutable=False
        Key : Value
          1 :  2583.177243313424
          2 :  9625.520778540857
          3 : 1917.7585485362235
          4 :  5610.365462936991
          5 :  2132.106199109146
          6 :  9348.902294488375
          7 :  5761.805554703392
          8 :  740.4822884176132
          9 :  3328.875892428994
         10 : 103.95542709151329
         11 : 1832.8458199417385
         12 : 3495.9085931414156
         13 :  3109.145469042762
         14 :  8373.209993257988
         15 : 1344.3008041058447
         16 :  977.3476057301789
         17 :  2937.043001938584
         18 :  5260.537226092384
         19 :  6683.871587878048
         20 :  8319.534869881878
         21 :  5170.345490443773
         22 :   6315.19317646058
         23 :  7992.898812025239
         24 :  5989.866530273771
         25 :  4609.794471946614
    l : Size=25, Index=I, Domain=Any, Default=None, Mutable=False
        Key : Value
          1 :  287.0898225624821
          2 : 3110.4477237057927
          3 : 206.94710446799658
          4 :  2426.473441587506
          5 :  2078.517158546869
          6 :  5645.969243469884
          7 :  2865.621342338503
          8 : 152.00086540883765
          9 : 2284.5898242059566
         10 :  33.05068998993892
         11 :  714.6088051265883
         12 : 161.23987211022035
         13 : 2810.9914203879284
         14 :  7882.748626521078
         15 :  717.1326265193903
         16 :  55.82309976228458
         17 : 2911.5258875628274
         18 :  2854.716015249545
         19 :  4071.323514997339
         20 :  3937.805897099299
         21 : 2300.0740431817194
         22 :  3786.560771090522
         23 :  7597.635693800164
         24 :  3198.078146957985
         25 : 1018.3807920147154

1 Var Declarations
    x : Size=25, Index=I
        Key : Lower : Value : Upper : Fixed : Stale : Domain
          1 :     0 :  None :     1 : False :  True : Binary
          2 :     0 :  None :     1 : False :  True : Binary
          3 :     0 :  None :     1 : False :  True : Binary
          4 :     0 :  None :     1 : False :  True : Binary
          5 :     0 :  None :     1 : False :  True : Binary
          6 :     0 :  None :     1 : False :  True : Binary
          7 :     0 :  None :     1 : False :  True : Binary
          8 :     0 :  None :     1 : False :  True : Binary
          9 :     0 :  None :     1 : False :  True : Binary
         10 :     0 :  None :     1 : False :  True : Binary
         11 :     0 :  None :     1 : False :  True : Binary
         12 :     0 :  None :     1 : False :  True : Binary
         13 :     0 :  None :     1 : False :  True : Binary
         14 :     0 :  None :     1 : False :  True : Binary
         15 :     0 :  None :     1 : False :  True : Binary
         16 :     0 :  None :     1 : False :  True : Binary
         17 :     0 :  None :     1 : False :  True : Binary
         18 :     0 :  None :     1 : False :  True : Binary
         19 :     0 :  None :     1 : False :  True : Binary
         20 :     0 :  None :     1 : False :  True : Binary
         21 :     0 :  None :     1 : False :  True : Binary
         22 :     0 :  None :     1 : False :  True : Binary
         23 :     0 :  None :     1 : False :  True : Binary
         24 :     0 :  None :     1 : False :  True : Binary
         25 :     0 :  None :     1 : False :  True : Binary

1 Objective Declarations
    obj : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : maximize : 287.0898225624821*x[1] + 3110.4477237057927*x[2] + 206.94710446799658*x[3] + 2426.473441587506*x[4] + 2078.517158546869*x[5] + 5645.969243469884*x[6] + 2865.621342338503*x[7] + 152.00086540883765*x[8] + 2284.5898242059566*x[9] + 33.05068998993892*x[10] + 714.6088051265883*x[11] + 161.23987211022035*x[12] + 2810.9914203879284*x[13] + 7882.748626521078*x[14] + 717.1326265193903*x[15] + 55.82309976228458*x[16] + 2911.5258875628274*x[17] + 2854.716015249545*x[18] + 4071.323514997339*x[19] + 3937.805897099299*x[20] + 2300.0740431817194*x[21] + 3786.560771090522*x[22] + 7597.635693800164*x[23] + 3198.078146957985*x[24] + 1018.3807920147154*x[25]

1 Constraint Declarations
    c1 : Size=1, Index=None, Active=True
        Key  : Lower : Body                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               : Upper  : Active
        None :  -Inf : 2583.177243313424*x[1] + 9625.520778540857*x[2] + 1917.7585485362235*x[3] + 5610.365462936991*x[4] + 2132.106199109146*x[5] + 9348.902294488375*x[6] + 5761.805554703392*x[7] + 740.4822884176132*x[8] + 3328.875892428994*x[9] + 103.95542709151329*x[10] + 1832.8458199417385*x[11] + 3495.9085931414156*x[12] + 3109.145469042762*x[13] + 8373.209993257988*x[14] + 1344.3008041058447*x[15] + 977.3476057301789*x[16] + 2937.043001938584*x[17] + 5260.537226092384*x[18] + 6683.871587878048*x[19] + 8319.534869881878*x[20] + 5170.345490443773*x[21] + 6315.19317646058*x[22] + 7992.898812025239*x[23] + 5989.866530273771*x[24] + 4609.794471946614*x[25] : 2000.0 :   True

6 Declarations: I x c l obj c1
None

In [63]:
#Declarar o Solver
solver_glpk = pyo.SolverFactory('glpk', executable='/usr/bin/glpsol')

In [64]:
#Resolver o problema com glpk
result = solver_glpk.solve(model)

In [65]:
model.pprint()

1 RangeSet Declarations
    I : Dimen=1, Size=25, Bounds=(1, 25)
        Key  : Finite : Members
        None :   True :  [1:25]

2 Param Declarations
    c : Size=25, Index=I, Domain=Any, Default=None, Mutable=False
        Key : Value
          1 :  2583.177243313424
          2 :  9625.520778540857
          3 : 1917.7585485362235
          4 :  5610.365462936991
          5 :  2132.106199109146
          6 :  9348.902294488375
          7 :  5761.805554703392
          8 :  740.4822884176132
          9 :  3328.875892428994
         10 : 103.95542709151329
         11 : 1832.8458199417385
         12 : 3495.9085931414156
         13 :  3109.145469042762
         14 :  8373.209993257988
         15 : 1344.3008041058447
         16 :  977.3476057301789
         17 :  2937.043001938584
         18 :  5260.537226092384
         19 :  6683.871587878048
         20 :  8319.534869881878
         21 :  5170.345490443773
         22 :   6315.19317646058
         23 :  7992.898812025239
         24 :  5989.866530273771
         25 :  4609.794471946614
    l : Size=25, Index=I, Domain=Any, Default=None, Mutable=False
        Key : Value
          1 :  287.0898225624821
          2 : 3110.4477237057927
          3 : 206.94710446799658
          4 :  2426.473441587506
          5 :  2078.517158546869
          6 :  5645.969243469884
          7 :  2865.621342338503
          8 : 152.00086540883765
          9 : 2284.5898242059566
         10 :  33.05068998993892
         11 :  714.6088051265883
         12 : 161.23987211022035
         13 : 2810.9914203879284
         14 :  7882.748626521078
         15 :  717.1326265193903
         16 :  55.82309976228458
         17 : 2911.5258875628274
         18 :  2854.716015249545
         19 :  4071.323514997339
         20 :  3937.805897099299
         21 : 2300.0740431817194
         22 :  3786.560771090522
         23 :  7597.635693800164
         24 :  3198.078146957985
         25 : 1018.3807920147154

1 Var Declarations
    x : Size=25, Index=I
        Key : Lower : Value : Upper : Fixed : Stale : Domain
          1 :     0 :   0.0 :     1 : False : False : Binary
          2 :     0 :   0.0 :     1 : False : False : Binary
          3 :     0 :   0.0 :     1 : False : False : Binary
          4 :     0 :   0.0 :     1 : False : False : Binary
          5 :     0 :   0.0 :     1 : False : False : Binary
          6 :     0 :   0.0 :     1 : False : False : Binary
          7 :     0 :   0.0 :     1 : False : False : Binary
          8 :     0 :   0.0 :     1 : False : False : Binary
          9 :     0 :   0.0 :     1 : False : False : Binary
         10 :     0 :   1.0 :     1 : False : False : Binary
         11 :     0 :   0.0 :     1 : False : False : Binary
         12 :     0 :   0.0 :     1 : False : False : Binary
         13 :     0 :   0.0 :     1 : False : False : Binary
         14 :     0 :   0.0 :     1 : False : False : Binary
         15 :     0 :   1.0 :     1 : False : False : Binary
         16 :     0 :   0.0 :     1 : False : False : Binary
         17 :     0 :   0.0 :     1 : False : False : Binary
         18 :     0 :   0.0 :     1 : False : False : Binary
         19 :     0 :   0.0 :     1 : False : False : Binary
         20 :     0 :   0.0 :     1 : False : False : Binary
         21 :     0 :   0.0 :     1 : False : False : Binary
         22 :     0 :   0.0 :     1 : False : False : Binary
         23 :     0 :   0.0 :     1 : False : False : Binary
         24 :     0 :   0.0 :     1 : False : False : Binary
         25 :     0 :   0.0 :     1 : False : False : Binary

1 Objective Declarations
    obj : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : maximize : 287.0898225624821*x[1] + 3110.4477237057927*x[2] + 206.94710446799658*x[3] + 2426.473441587506*x[4] + 2078.517158546869*x[5] + 5645.969243469884*x[6] + 2865.621342338503*x[7] + 152.00086540883765*x[8] + 2284.5898242059566*x[9] + 33.05068998993892*x[10] + 714.6088051265883*x[11] + 161.23987211022035*x[12] + 2810.9914203879284*x[13] + 7882.748626521078*x[14] + 717.1326265193903*x[15] + 55.82309976228458*x[16] + 2911.5258875628274*x[17] + 2854.716015249545*x[18] + 4071.323514997339*x[19] + 3937.805897099299*x[20] + 2300.0740431817194*x[21] + 3786.560771090522*x[22] + 7597.635693800164*x[23] + 3198.078146957985*x[24] + 1018.3807920147154*x[25]

1 Constraint Declarations
    c1 : Size=1, Index=None, Active=True
        Key  : Lower : Body                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               : Upper  : Active
        None :  -Inf : 2583.177243313424*x[1] + 9625.520778540857*x[2] + 1917.7585485362235*x[3] + 5610.365462936991*x[4] + 2132.106199109146*x[5] + 9348.902294488375*x[6] + 5761.805554703392*x[7] + 740.4822884176132*x[8] + 3328.875892428994*x[9] + 103.95542709151329*x[10] + 1832.8458199417385*x[11] + 3495.9085931414156*x[12] + 3109.145469042762*x[13] + 8373.209993257988*x[14] + 1344.3008041058447*x[15] + 977.3476057301789*x[16] + 2937.043001938584*x[17] + 5260.537226092384*x[18] + 6683.871587878048*x[19] + 8319.534869881878*x[20] + 5170.345490443773*x[21] + 6315.19317646058*x[22] + 7992.898812025239*x[23] + 5989.866530273771*x[24] + 4609.794471946614*x[25] : 2000.0 :   True

6 Declarations: I x c l obj c1

In [66]:
# Resultado do modelo
print(result)
print(model.obj())

Problem:
- Name: unknown
  Lower bound: 750.183316509329
  Upper bound: 750.183316509329
  Number of objectives: 1
  Number of constraints: 2
  Number of variables: 26
  Number of nonzeros: 26
  Sense: maximize
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 3
      Number of created subproblems: 3
  Error rc: 0
  Time: 0.02769184112548828
Solution:
- number of solutions: 0
  number of solutions displayed: 0

750.1833165093292

In [74]:
for idx, value in enumerate(variaveis):
    print(value, "->", model.x[idx+1](), '->', model.c[idx+1])

P1 -> 0.0 -> 2583.177243313424
P2 -> 0.0 -> 9625.520778540857
P3 -> 0.0 -> 1917.7585485362235
P4 -> 0.0 -> 5610.365462936991
P5 -> 0.0 -> 2132.106199109146
P6 -> 0.0 -> 9348.902294488375
P7 -> 0.0 -> 5761.805554703392
P8 -> 0.0 -> 740.4822884176132
P9 -> 0.0 -> 3328.875892428994
P10 -> 1.0 -> 103.95542709151329
P11 -> 0.0 -> 1832.8458199417385
P12 -> 0.0 -> 3495.9085931414156
P13 -> 0.0 -> 3109.145469042762
P14 -> 0.0 -> 8373.209993257988
P15 -> 1.0 -> 1344.3008041058447
P16 -> 0.0 -> 977.3476057301789
P17 -> 0.0 -> 2937.043001938584
P18 -> 0.0 -> 5260.537226092384
P19 -> 0.0 -> 6683.871587878048
P20 -> 0.0 -> 8319.534869881878
P21 -> 0.0 -> 5170.345490443773
P22 -> 0.0 -> 6315.19317646058
P23 -> 0.0 -> 7992.898812025239
P24 -> 0.0 -> 5989.866530273771
P25 -> 0.0 -> 4609.794471946614