<a href="https://colab.research.google.com/github/jvataidee/PesquisaOperacional/blob/master/otimiza%C3%A7%C3%A3o_caraga_caminh%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<p align="center"><img src="https://static.wixstatic.com/media/bdd7cb_6ecb6c85550043f090237e5943d2647c~mv2.png/v1/fill/w_417,h_88,al_c,q_85,usm_0.66_1.00_0.01/Ativo%2023-8.webp" height="75px"></p>

**by: [João Ataíde](https://www.joaoataide.com)**
# **Otimização da Carga de um caminhão**


---


<p align="center"><img src="https://static.wixstatic.com/media/bdd7cb_c37cf789f470415781495054582faa05~mv2.jpg"></p>

In [3]:
!pip install deap -q

     |████████████████████████████████| 163kB 9.2MB/s

In [8]:
import numpy
import random
import pandas as pd
from deap import base, creator, algorithms, tools
import matplotlib.pyplot as plt

## Importando os dados

In [9]:
!pip install kaggle -q

In [ ]:
from google.colab import files
files.upload()

In [11]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [12]:
!kaggle datasets download -d olistbr/brazilian-ecommerce

Downloading brazilian-ecommerce.zip to /content
 77% 33.0M/42.7M [00:00<00:00, 42.1MB/s]
100% 42.7M/42.7M [00:00<00:00, 87.0MB/s]

In [13]:
!ls

brazilian-ecommerce.zip  kaggle.json  sample_data

In [15]:
import zipfile
zip_ref = zipfile.ZipFile('brazilian-ecommerce.zip', 'r')
zip_ref.extractall('files')
zip_ref.close()

In [39]:
df_items = pd.read_csv('/content/files/olist_order_items_dataset.csv')
df_produto = pd.read_csv('/content/files/olist_products_dataset.csv')

In [28]:
print(df_items.shape)
df_items.head()

(112650, 7)

                           order_id  order_item_id  ...   price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3  00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14

[5 rows x 7 columns]

In [22]:
print(df_produto.shape)
df_produto.head()

(32951, 9)

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0
3  cef67bcfe19066a932b7673e239eb23d  ...             26.0
4  9dc1a7de274444849c219cff195d0b71  ...             13.0

[5 rows x 9 columns]

In [40]:
df_items = df_items.iloc[:, [2,5,6]]
df_produto = df_produto.iloc[:, [0,1,5,6,7,8]]

In [37]:
df_items.head()

                         product_id   price  freight_value
0  4244733e06e7ecb4970a6e2683c13e61   58.90          13.29
1  e5f2d52b802189ee658865ca93d83a8f  239.90          19.93
2  c777355d18b72b67abbeef9df44fd0fd  199.00          17.87
3  7634da152a4610f1595efa32f14722fc   12.99          12.79
4  ac6c3623068f30de03045865e4e10089  199.90          18.14

In [41]:
df_produto.head()

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0
3  cef67bcfe19066a932b7673e239eb23d  ...             26.0
4  9dc1a7de274444849c219cff195d0b71  ...             13.0

[5 rows x 6 columns]

## Criando o Algoritimo Genético

In [7]:
#Criar Classe do Produto
class Produto():
    def __init__(self, nome, espaco, valor):
        self.nome = nome
        self.espaco = espaco
        self.valor = valor

In [ ]:
#Montanto as restrições
espacos = []
valores = []
nomes = []

for produto in lista_produtos:
    espacos.append(produto.espaco)
    valores.append(produto.valor)
    nomes.append(produto.nome)

Tipo de caminhão VUC
<p align="center"><img src="http://www.guiadotrc.com.br/figuras/vuc-reforcado.gif?gtgggf"></p>



<p align="center"><img src="https://www.truckpad.com.br/uploads/2017/01/329981fc-medidas-carrocerias-3.png"></p>

In [44]:
#lmimte de espaço no caminhão
limite_m3 = 2.2*7.2*3.5*100  #grandeza em centimetros
limtie_peso = 4000   #grandeza em gramas

## Criando o Algoritimo Genético

In [ ]:
#Criar a toolbox
toolbox = base.Toolbox()

#Criando parâmetros na toolbox
creator.create("FitnessMax",  base.Fitness, weights = (1.0, ))
creator.create("Individual", list, fitness = creator.FitnessMax)

#Registrando na toolbox
toolbox.register("attr_bool", random.randint, 0, 1)
toolbox.register("individual", tools.initRepeat, creator.Individual,
                 toolbox.attr_bool, n = len(espacos))
toolbox.register("population", tools.initRepeat, list, toolbox.individual)
toolbox.register("evaluate", avaliacao)
toolbox.register("mate", tools.cxOnePoint)
toolbox.register("mutate", tools.mutFlipBit, indpb = 0.05)
toolbox.register("select", tools.selRoulette)

In [ ]:
#Executando o algoritimo genético
if __name__ == "__main__":
    population = toolbox.population(n = 20)
    probabilidade_crossover = 1.0
    probabilidade_mutação = 0.05
    numero_gerações = 100
    
    estatisticas = tools.Statistics( key = lambda individuo: individuo.fitness.values)
    estatisticas.register("max", numpy.max)
    estatisticas.register("min", numpy.min)
    estatisticas.register("med", numpy.mean)
    estatisticas.register("std", numpy.std)
    
    populacao, info = algorithms.eaSimple(population, toolbox, 
                                          probabilidade_crossover, 
                                          probabilidade_mutação,
                                          numero_gerações, estatisticas)

In [ ]:
#Identificando o melhor indivíduo

melhores = tools.selBest(populacao, 1)

for individuo in melhores:
    print("---")
    print (individuo)
    print (individuo.fitness)
    print("---")
    soma = 0
    for i in range (len(lista_produtos)):
        if individuo[i] == 1:
            soma += valores[i]
            print("Nome: %s R$ %s" % (lista_produtos[i].nome,
                                     lista_produtos[i].valor))
    print("---")
    print("Melhor Soluação:", soma)

In [ ]:
#Plotando o aprendizado
valores_pop = info.select("max")
plt.figure(figsize = (12,8))
plt.plot(valores_pop)
plt.show()